/* :root{
  --heading-text-color: #ffcb73;
  --text-color: #ffcb73;
  --section-padding:32px;
  --section-margin:32px;
  --button-color:#101610;
  --disable-button:rgba(16, 22, 16, 0.5);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for this site */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: .4s all ease-in-out;
}

body {
  font-family: "Josefin Sans", sans-serif;
}